/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */

body {
  font-family: "Fredoka", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

/* NAV */

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #ff6900;
  color: white;
  text-align: center;
}

.nav-container {
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  font-weight: bold;
  padding: 0 .2rem;
}

nav .logo-img {
  width: 20%;
}