/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Debug */
  /* border: 1px solid black; */
}

/* COMMON */

body {
  font-family: "Fredoka", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* NAV */

nav .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff6900;
  color: white;
  text-align: center;
}

.nav-container {
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  font-weight: bold;
  padding: 0 0.2rem;
}

nav .logo-img {
  width: 20%;
}

/* MAIN */

main .container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  position: relative;
  width: calc(100% / 3 - 1rem);
  margin-bottom: 1rem;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 0;
  width: 10%;
  background-color: white;
  font-size: 2rem;
  padding-left: .8rem;
  padding-right: 1rem;
}

.favorite:hover {
  color: red;
}

.secondary-image {
  position: absolute;
  z-index: ;
}

.main-image {
  position: relative;
}

.col:hover .main-image{
  z-index: -1;
}

.sale, .eco {
  position: relative;
  bottom: 60px;
  padding: .3rem .5rem .3rem .5rem;
  background-color: red;
  color: white;
  font-size: .9rem;
  font-weight: 400;
}

.eco {
  background-color: green;
}

.article-description {
  position: relative;
  bottom: 10px;
  color: black;
}

.article-description span {
  display: block;
}

.article-description.no-tags {
  margin-top: 1rem;
}

.brand {
  font-size: .8rem;
}

.product-name {
  font-weight: bold;
}

.price {
  display: flex;
}

.sale-price, .original-price {
  font-size: .9rem;
  padding-right: .5rem;
}

.sale-price {
  color: red;
}

.original-price {
  text-decoration: line-through;
}

/* FOOTER */

footer .wrapper {
  display: flex;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
}

footer .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container.info {
  padding-left: 15rem;
}

.container.info ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.container.info li {
  padding: 1rem 1rem 0 0;
}

.container.social {
  text-align: center;
  flex-shrink: 2;
}

.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.social-icon a {
  position: relative;
  left: .7rem;
  padding-right: 0.5rem;
}
